*{
font-family: sans-serif;
font-size: 18px;
}

#par-3{
	color: yellow;
}

h1{
	font-size: 3rem;
}

#heading-2{
	text-transform: uppercase;
}

.language{
	background-color: #aecfa0;
}

li[class=tools]{
	border: 1px solid blue;
}

section > ul > li{	
	list-style-type: none;
	letter-spacing: .4rem;
}

section  img{
	width: 8rem;
	border-radius: 50%;
}

ul ~ p {
	text-align: center;
}
